{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0"><i class="fas fa-cog"></i> Settings</h4>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" id="settingsTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-bs-toggle="tab" href="#general" role="tab">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="modules-tab" data-bs-toggle="tab" href="#modules" role="tab">Modules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="advanced-tab" data-bs-toggle="tab" href="#advanced" role="tab">Advanced</a>
                    </li>
                </ul>

                <div class="tab-content mt-3" id="settingsTabContent">
                    <!-- General Settings -->
                    <div class="tab-pane fade show active" id="general" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Download Settings</h5>
                                <div class="mb-3">
                                    <label class="form-label">Download Path</label>
                                    <input type="text" class="form-control" value="{{ settings.global.general.download_path }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Download Quality</label>
                                    <input type="text" class="form-control" value="{{ settings.global.general.download_quality }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Search Limit</label>
                                    <input type="text" class="form-control" value="{{ settings.global.general.search_limit }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Formatting</h5>
                                <div class="mb-3">
                                    <label class="form-label">Album Format</label>
                                    <input type="text" class="form-control" value="{{ settings.global.formatting.album_format }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Track Filename Format</label>
                                    <input type="text" class="form-control" value="{{ settings.global.formatting.track_filename_format }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modules Settings -->
                    <div class="tab-pane fade" id="modules" role="tabpanel">
                        <div class="row">
                            {% for module in modules %}
                            <div class="col-md-4 mb-3">
                                <div class="card h-100">
                                    <div class="card-header">
                                        <h5 class="mb-0">{{ module|title }}</h5>
                                    </div>
                                    <div class="card-body">
                                        {% if module in settings.modules %}
                                            {% for key, value in settings.modules[module].items() %}
                                                <div class="mb-2">
                                                    <label class="form-label">{{ key|title }}</label>
                                                    <input type="text" class="form-control" value="{{ value }}" readonly>
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p class="text-muted">No settings available</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Advanced Settings -->
                    <div class="tab-pane fade" id="advanced" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Codec Settings</h5>
                                <div class="mb-3">
                                    <label class="form-label">Proprietary Codecs</label>
                                    <input type="text" class="form-control" value="{{ settings.global.advanced.proprietary_codecs }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Spatial Codecs</label>
                                    <input type="text" class="form-control" value="{{ settings.global.advanced.spatial_codecs }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h5>Other Settings</h5>
                                <div class="mb-3">
                                    <label class="form-label">Debug Mode</label>
                                    <input type="text" class="form-control" value="{{ settings.global.advanced.debug_mode }}" readonly>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Disable Subscription Checks</label>
                                    <input type="text" class="form-control" value="{{ settings.global.advanced.disable_subscription_checks }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h4 class="mb-0"><i class="fas fa-info-circle"></i> Note</h4>
            </div>
            <div class="card-body">
                <p class="mb-0">
                    Settings are currently read-only in the web interface. To modify settings, please edit the configuration files directly.
                    The settings are stored in the following locations:
                </p>
                <ul class="mt-2">
                    <li>Global settings: <code>config/settings.json</code></li>
                    <li>Module settings: <code>config/modules/[module_name]/settings.json</code></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %} 